# compiled output
api/brain_fm_api/dist
api/brain_fm_api/node_modules
client/Brain-FM-Mini/node_modules/
client/Brain-FM-Mini/dist/
client/Brain-FM-Mini/.expo/
client/Brain-FM-Mini/web-build/

# Logs
logs
*.log
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# client-specific files
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.metro-health-check*
.env